.App{
  min-height: 100vh;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container{
  width: 300px;
  height: 500px;
  padding: 14px;
  background-color: #91c1f7;
  border-radius: 20px;
  border: 1px solid white;

}

.file{
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

